<section class="main-container">

  <h2 class="event-name">{{ event.title }}</h2>
  <image class="event-image" src="{{ event.image }}" alt="{{ event.title }}">
  <p class="short-description">Description: {{ event.description }}</p>
  <p class="event-day">When? {{ event.day }}
    <span class="event-date"> {{ event.date }} </span>
    <span class="event-time"> {{ event.time }} </span>
  </p>
  <p class="event-location"> Where? {{ event.location }}</p>
  <p class="event-participants"> Attendants: {{ event.participants }}</p>

  <button class="participants-btn"> I want to join! </button>

</section>
