<h1 class="main-title">EVENTS</h1>

<section class="main-container">
  <ul class="events-list" id="eventsList">

    {{#each events}}

    <li class="event-item">

      <a class="event-link" href="/event/{{this.id}}">
        <image class="event-image" src="{{this.image}}" alt="{{this.title}}">
        <h2 class="event-name">{{this.title}}</h2>
      </a>
      <p class="short-description"><span class="bold"> What? </span> {{ this.description }}</p>
      <p class="event-day"><span class="bold">When? </span>{{ this.day }}
        <span class="event-date"> {{ this.date }} </span>
        <span class="event-time"> {{ this.time }} </span>
      </p>
      <p class="event-location"><span class="bold"> Where? </span>{{ this.location }}</p>

    </li>

    {{/each}}

  </ul>

  <form action="/create" method="get" class="create-event" id="craeteEvent">
    <button type="submit" class="submit">Create Event</button>
  </form>

</section>

<script src="/js/index.js"></script>
