<h1 class="main-title">EVENTS</h1>

<section class="main-container">
  <ul class="events-list" id="eventsList">

    {{#each events}}

    <li class="event-item">

      <a class="event-link" href="/events/{{this}}">
        <h2 class="event-name">{{this.title}}</h2>
        <image class="event-image">{{this.image}}
      </a>
      <p class="short-description">{{this.descrption}}</p>
      <p class="event-day">{{this.day}}</p>
      <p class="event-date">{{this.date}}</p>
      <p class="event-time">{{this.time}}</p>
      <p class="event-location">{{this.location}}</p>
      <p class="event-participants">{{this.participants}}</p>

    </li>

    {{/each}}

  </ul>
</section>

<script src="/js/index.js"></script>
